.HW-Wrapper {
  width: 50%;
  height: 75%;

  border: 1px solid;
  border-radius: 15px;

  box-sizing: border-box;
  padding: 15px;
}

.HW-CheckBox-Holder {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
