<div class="CenterRowFlex Root-Container" style="box-sizing: border-box; padding: 10px 20px 4px;">
  <div class="CenterColumnFlex QW-Wrapper">

    <div class="CenterRowFlex Timer-Bar-Holder" style="position: relative">
      <div class="CenterRowFlex Timer-Bar" style="text-align: center;" [ngStyle]="{
      'width': ((showTimer) ? ((timeLeft * 100) / questionDuration) : '100') + '%'
      }">
      </div>
      <div class="CenterRowFlex Timer-Bar-Text" *ngIf="showTimer">
        Time Left: {{timeLeft}} sec of {{questionDuration}} sec
      </div>
    </div>

    <div class="QW-Num-Holder">
      Question {{questionNumber + 1}} of {{maxQuestionCount}}:
    </div>

    <div class="QW-Question-Holder" [ngStyle]="{
    'color': appComponent.currentTheme.onBackground
    }">
      Select the correct meaning of the {{questionWordType}} shown below.
    </div>

    <div class="CenterRowFlex QW-QWord-Holder" [ngStyle]="{
    'background-color': appComponent.currentTheme.surface,
    'color': appComponent.currentTheme.onSurface
    }">
      {{questionWord}}
    </div>

    <div class="QW-OptionHolder">
      <div class="CenterRowFlex QW-OptionElement" (click)="selectOption(i)" id="qw-option-{{i}}"
           *ngFor="let option of options; let i = index;" [ngStyle]="getOptionDynamicStyle(i)">
        <div class="CenterRowFlex" style="width: 3%;" [ngStyle]="{
        'border-color': appComponent.currentTheme.bsBorder
        }">
          {{i + 1}}.
        </div>
        <div style="width: 1%;"></div>
        <div class="CenterRowFlex" style="width: 98%; justify-content: left; text-align: left;" [ngStyle]="{
        'border-color': appComponent.currentTheme.bsBorder
        }">
          {{option}}
        </div>
      </div>
    </div>

    <div class="CenterRowFlex" style="justify-content: space-between; flex: 4 0 0; width: 100%;">
      <div style="width: 100px; height: 100%;">
        <button class="QW-Nav-Button" (click)="goToPreviousQuestion()" [ngStyle]="{
        'background-color': appComponent.currentTheme.primary,
        'border-color': appComponent.currentTheme.pstBorder,
        'color': appComponent.currentTheme.onPrimary
        }" *ngIf="!isSelectionMode && questionNumber !== 0">Previous
        </button>
      </div>
      <div style="width: 100px; height: 100%;">
        <button class="QW-Nav-Button" (click)="goToNextQuestion()" [ngStyle]="{
        'background-color': appComponent.currentTheme.primary,
        'border-color': appComponent.currentTheme.pstBorder,
        'color': appComponent.currentTheme.onPrimary
        }">{{((questionNumber + 1) < maxQuestionCount) ? "Next" : "End"}}
        </button>
      </div>
    </div>

  </div>
</div>
