.LI-Wrapper {
  width: 33%;
  min-width: 630px;
  height: 55%;
  min-height: 540px;

  border: 1px solid;
  border-radius: 15px;

  box-sizing: border-box;
  padding: 15px;
}

.LI-ErrorHolder {
  height: 50%;
  width: 66%;

  border: 1px solid #d00000;
  border-radius: 10px;

  font-size: 0.75em;
  font-weight: bold;
  color: #d00000;
}
